/* tạo màu nền orange */

.bg-orange {
    background-color: orange;
}


/* tạo màu nền lightgoldenrodyellow */

.bg-lightgoldenrodyellow {
    background-color: lightgoldenrodyellow;
}


/* tạo mầu nền yellow */

.bg-yellow {
    background-color: yellow;
}


/* tạo màu nền lightsalmon */

.bg-lightsalmon {
    background-color: lightsalmon;
}


/* tạo class margin top 70 */

.mt-70 {
    margin-top: 70px;
}


/* tạo class height 180 */

.h-180 {
    height: 180px;
}
/* tạo class height 300 */
.h-300 {
    height: 300px;
}
/* tạo class chữ orange */

.text-orange {
    color: orange;
}
/* phần carousel */
.carousel-img {
    height: 500px;
    object-fit: cover;
}
/* card height */
.card-height {
    flex-grow:1;
}


